{% extends 'panel.html' %}
{% block title %}حذف محصول{% endblock %}
{% block content %}
<div class="card shadow-sm">
    <div class="card-body text-center">
        <h4>آیا مطمئن هستید که می‌خواهید "{{ product.name }}" را حذف کنید؟</h4>
        <form method="post" class="mt-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">بله، حذف شود</button>
            <a href="{% url 'product_list' %}" class="btn btn-secondary">انصراف</a>
        </form>
    </div>
</div>
{% endblock %}
